DB_HOST=localhost
DB_NAME=catalogo
DB_USER=catalogo
DB_PASS=

# Blockchain (Devnet)
MX_PEM_PATH=keys/wallet.pem
MX_CONTRACT_ADDRESS=erd1zhn5l6q9vtrpkfpgyu4we7wxce0669u0aj9f43e4c7lltyene7hsrnm5zr
MX_GATEWAY=https://devnet-gateway.multiversx.com
MX_CHAIN_ID=D